.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space5);
}

.item {
  display: flex;
}

.item > * {
  width: 100%;
}

@media (--to-lg) {
  .grid {
    grid-template-columns: 1fr;
  }
}
