.burger {
  display: none;
  place-items: center;
  width: var(--sizeControl);
  height: var(--sizeControl);
  background-color: var(--colorCard);
  border: 1px solid var(--colorAccent);
  border-radius: 12px;
}

.icon {
  width: 70%;
  height: 70%;
}

.line {
  fill: none;
  stroke: var(--colorAccent);
  stroke-width: 6;
  stroke-linecap: round;
  transition:
    stroke-dasharray var(--durationBurger) var(--easeBurger),
    stroke-dashoffset var(--durationBurger) var(--easeBurger);
}

.lineTop {
  stroke-dasharray: 60 207;
}

.lineMiddle {
  stroke-dasharray: 60 60;
}

.lineBottom {
  stroke-dasharray: 60 207;
}

.open .lineTop {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}

.open .lineMiddle {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
}

.open .lineBottom {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}

@media (--to-xl) {
  .burger {
    display: grid;
  }
}
