.menu {
  position: fixed;
  inset: 0;
  z-index: 55;
  display: none;
  visibility: hidden;
  background-color: var(--colorBg);
  opacity: 0;
  transition:
    opacity var(--durationMenu) var(--easeOut),
    visibility 0s var(--durationMenu);
}

.open {
  visibility: visible;
  opacity: 1;
  transition:
    opacity var(--durationMenu) var(--easeOut),
    visibility 0s;
}

.inner {
  display: grid;
  align-items: center;
  height: 100%;
  max-height: 100%;
  padding-block: calc(var(--headerRowHeight) + var(--space6)) var(--space8);
  overflow: hidden auto;
}

.list {
  display: grid;
  gap: var(--space2);
}

.link {
  display: block;
  padding-block: var(--space4);
  font-weight: var(--weightMedium);
  font-size: var(--textLg);
  text-decoration: none;
  border-bottom: 1px solid var(--colorLine);
}

@media (--to-xl) {
  .menu {
    display: block;
  }
}

@media (prefers-reduced-motion: reduce) {
  .menu,
  .open {
    transition: none;
  }
}
